*{
 margin:0;
 padding:0;
 box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}
body{
 background:white;
 color:#222;
}
.headBuy{
 background:#000;
 padding:15px 40px;
 display:flex;
 justify-content:space-between;
 align-items:center;
}
.headBuy nav a{
 color:white;
 text-decoration:none;
 margin-left:20px;
 font-size:14px;
}
.headBuy nav a:hover{
 color:#00bfa6;
}
.logoBuy{
 font-size:22px;
 font-weight:700;
 color:white;
}
.logoBuy span{
 color:#00bfa6;
}
.topTextBuy{
 text-align:center;
 padding:40px 20px 10px 20px;
}
.topTextBuy h1{
 font-size:50px;
}
.filterBuy{
 text-align:center;
 padding:10px;
}
.btnBuy{
 padding:8px 15px;
 border:1px solid #ccc;
 background:white;
 border-radius:6px;
 margin:4px;
 cursor:pointer;
 font-size:13px;
 transition:all 0.3s;
}
.btnBuy:hover{
 border-color:#00bfa6;
 color:#00bfa6;
}
.activeBuy{
 background:#00bfa6;
 border-color:#00bfa6;
 color:white;
}
.buyArea{
 display:flex;
 justify-content:center;
 gap:20px;
 flex-wrap:wrap;
 padding:20px;
}
.cardBuy{
 background:white;
 width:350px;
 height: 300px;
 border-radius:10px;
 border:1px solid #e5e5e5;
 text-align:center;
 padding-bottom:10px;
}
.cardBuy img{
 width:100%;
 height:190px;
 object-fit:cover;
 border-radius:10px 10px 0 0;
}
.propInfo{
 font-size:13px;
 color:#555;
 margin-bottom:6px;
}
.seeBtn{
 background:#00bfa6;
 border:none;
 padding:7px 14px;
 color:white;
 font-size:13px;
 border-radius:6px;
 cursor:pointer;
}
.seeBtn:hover{
 background:#009d89;
}
.cardBuy:hover{
 transform:translateY(-5px);
 transition:all 0.3s;
}
.btnLoad{
 text-align:center;
 margin-top:15px;
}
.lbtn{
 padding:10px 20px;
 border:none;
 background:#00bfa6;
 color:white;
 border-radius:6px;
 cursor:pointer;
}
.lbtn:hover{
 background:#009d89;
}
.footBuy{
 background:black;
 color:white;
 text-align:center;
 padding:10px;
 margin-top:25px;
}
@media(max-width:600px){
 .cardBuy{
  width:90%;
 }
}
